In [14]:
import pandas as pd
from pathlib import Path

In [15]:
participant_data_path = "/home/jaro/NLeSC/QANS/qans-example-data"
participant_input_filename = "test-participant-tokens.csv"
classmates_column_name = " attribute_1 <comma separated classmates>"

In [16]:
participant_data_path = Path(participant_data_path)
participant_input_filename = participant_data_path / participant_input_filename
participants_df = pd.read_csv(participant_input_filename)

In [17]:
for i, participant in participants_df.iterrows():
    participants_df.at[i,classmates_column_name] = participants_df.drop(i).firstname.sample(frac=1).str.cat(sep=', ')

In [18]:
participants_df["language"] = "nl"

In [19]:
participants_df

,Unnamed: 0,tid,firstname,lastname,email,emailstatus,token,language,validfrom,validuntil,invited,reminded,remindercount,completed,usesleft,attribute_1 <comma separated classmates>
0,0,1,Jaro,NaN,NaN,OK,1,nl,NaN,NaN,N,N,0,N,997,"Sanyogita, John, Loes, Hubert, Toon"
1,1,2,Loes,NaN,NaN,OK,2,nl,NaN,NaN,N,N,0,N,998,"Hubert, Sanyogita, Jaro, John, Toon"
2,2,3,Toon,NaN,NaN,OK,3,nl,NaN,NaN,N,N,0,N,1000,"Sanyogita, Loes, Jaro, John, Hubert"
3,3,4,Sanyogita,NaN,NaN,OK,4,nl,NaN,NaN,N,N,0,N,100,"Hubert, Toon, Loes, John, Jaro"
4,4,5,John,NaN,NaN,OK,5,nl,NaN,NaN,N,N,0,N,100,"Sanyogita, Loes, Hubert, Toon, Jaro"
5,5,6,Hubert,NaN,NaN,OK,6,nl,NaN,NaN,N,N,0,N,1,"Toon, John, Jaro, Sanyogita, Loes"

In [20]:
participant_output_filename = participant_input_filename.with_stem(participant_input_filename.stem + "_with_classmates")
print(participant_output_filename)
participants_df.to_csv(participant_output_filename)

/home/jaro/NLeSC/QANS/qans-example-data/test-participant-tokens_with_classmates.csv

# tinyurl.com/demo-ls-2024-10-03